/* Basic styles for the Navbar */
.titl{
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    z-index: 1000;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .navbar img{
    height: 1.5em;
    width: 1.5em;
    margin-right: 30px;
  }
  .navbar-links {
    display: flex;
    list-style: none;
    margin-right: 40px;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-hamburger .bar1 {
    width: 25px;
    height: 3px;
    background-color: white;
    position: fixed;
    top:2.5rem;
    right: 1rem;
    transition: 0.4s;
  }
  .navbar-hamburger .bar2 {
    width: 25px;
    height: 3px;
    background-color: white;
    position: fixed;
    top:2rem;
    right: 1rem;
    transition: 0.4s;
  }
  .navbar-hamburger .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    position: fixed;
    top:3rem;
    right: 1rem;
    transition: 0.4s;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar-links {
      position: absolute;
      top: 5em;
      left: 0px;
      width: 100%;
      background-color: #333;
      flex-direction: column;
      align-items: center;
      display: none;
    }
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  
    .navbar-hamburger {
      display: flex;
    }
  
    .navbar-hamburger .bar1.open {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .navbar-hamburger .bar2.open {
      opacity: 0;

    }
  
    .navbar-hamburger .bar3.open {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  
